<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>About Me</title>
  </head>
  <body>
    <nav id="navigation" class="navbar navbar-expand-md navbar-dark">
      <a class="navbar-brand" href="#">Unique Cuisine</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">About Me<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="resume">Resume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="uniquecuisine">UniqueCuisine</a>
            </li>
        </ul>
      </div>
    </nav>
    <div class = "rest">
    <h1 >About Me!</h1>
    <div class="profile">
      <img class="profilepicture" src="https://photos.google.com/search/_tra_/photo/AF1QipMw5NqDeETmWXZaLCl6Wp8YHeyj-A3HcCKvD1rc" width="500"/>
    </div>
    <br>
    <h2>Biography</h2>
    <p style="width: 500px">Madeline Eller is 27 years old and lives in central Connecticut. She lives with her dog, Jasper, and works full-time as a software engineer for an insurance company.
      Madeline is also earning her Master's degree in Data Science from Eastern University. Madeline created the project UniqueCuisine as a final project to showcase what she has learned. Please
      go to <a href="uniquecuisine">this page</a> to use UniqueCuisine.</p>
      <br>
    <h2>Hobbies</h2>
      <p style="width: 500px">Her hobbies include writing and drawing. She enjoys writing fantasy novels in my spare time, as well as trying to animate.
        Madeline also enjoys hiking and going to the beach.</p>
      <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
      </div>
  </body>
  <style>
    h1 {text-align: center;}
    p {text-align: center;
      margin:0 auto
    }
    div {text-align: center;}
    body{
      background-color: #202121;
      font-family: Arial;
      margin: 0;
      padding:0;
      color: white;
    }
    .rest{
      margin: 20px
    }

    .profilepicture{
      border-radius: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  </style>
</html>