<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Resume</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark">
      <a class="navbar-brand" href="#">Unique Cuisine</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="aboutme">About Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="projects">Projects</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Resume<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="uniquecuisine">UniqueCuisine</a>
            </li>
        </ul>
      </div>
    </nav>
    <div class = "rest">
    <h1>Resume</h1>
    <h2 class="social">Social Media</h2>
    <h3 class="social1">LinkedIn: Please see my LinkedIn profile <a href="https://www.linkedin.com/in/madeline-eller-b62785192/">here</a>.</h3>
    <h3>Work Experience</h3>
      <p>Business Project Lead Analyst </p>
      <p>❏ Updated and debugged Cigna’s Health Rating Engine using primarily OCL and SQL.<br>
        ❏ Exclusively worked on multiple business transactions, handling all updates.<br>
        ❏ Led the coordination of monthly releases into production.  These entail cross-team communications and updates to data.<br>
        ❏ Employed Splunk to diagnose production issues.<br>
        ❏ Produced up to date documentation for business specifications and onboarding.<br>
        ❏ Manipulated Github for change management and branching strategies.<br>
        ❏ Utilized Postman to run requests against various environments </p>
    <h3>Education</h3>
      <p>Eastern University</p>
      <p>
        Masters in Data Science, expected April 2023.<br>
        University of Connecticut<br>
        Bachelor of Arts in English, January 2019. (GPA: 3.673)<br>
        Bachelor of Arts in Linguistics/Psychology, January 2019. (GPA: 3.673) </p>
    <h3>Relevant Coursework</h3>
      <p>❏ Applied Machine Learning, August 2022<br>
        ❏ Data/Database Management w/ SQL, April 2022<br>
        ❏ Fundamentals of Machine Learning Models, April 2022</p>
    <h3>Skills & Interests</h3>
      <p>
        ❏ Computer Skills: Microsoft Word, Microsoft Excel, Microsoft Powerpoint, Postman, Jenkins, Github, Adobe Photoshop and Adobe Animate.<br>
        ❏ Programming Skills: Python, Javascript, SQL, CSS, HTML5, R, OCL, VBA</p>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
      </div>
  </body>
  <style>
    h1 {text-align: center;}
    .social{text-align: center;}
    .social1{text-align: center;}
    body{
      background-color: #202121;
      font-family: Arial;
      margin: 0;
      padding:0;
      color: white;
    }
    .rest{
      margin: 20px
    }
  </style>
</html>